*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #c4c4c4;
}

.container{
    margin: 3rem auto;  
    width: 55rem;
    padding: 3rem;       
    background-color: #f5f5f5;
    box-shadow: #333 0px 0px 9px;
    border-radius: 9px;
    text-align: justify;
}

#header{
    text-align: center;
    padding: 1rem;
}

.container-dados-pessoais{
    display: flex;
    padding: 0.1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.dados-pessoais{
    padding: 0.1rem;
}

.dados-pessoais a{
    color: blue;
    font-style: italic;
}

a:hover{
    text-decoration: underline;
}

.subtitulo{
    padding: 0.5rem;
    font-size: medium;
}

.container-box{
    padding: 0.5rem;
}

.lista{
    padding-bottom: .5rem;
    padding-left: 0.75rem;
}

.item{
    padding: 0.25rem;
}

.data{
    text-align: end;
}

.cta {
    display: inline-block;
    padding: 1rem;
    color: blue;
    font-size: 1.25rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}



